{% load static %}

<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'rbc/head.css' %}" />
    <script src="{% static 'rbc/head.js' %}"> </script>
    <title>Restaurant</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>

    {% include 'head.html' %}

    
    {% block content %}

    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endblock %}

    {% include 'footer.html' %}

</body>

</html>